<div class="flex justify-center">
    <figure class="gdoc-markdown__figure">
      <a class="gdoc-markdown__link--raw" href="/development/core/sequence-diagram/images/sequence-diagram.png">
        <picture>
            <source srcset="/development/core/sequence-diagram/images/sequence-diagram.png">
          <img src="/development/core/sequence-diagram/images/sequence-diagram.png" alt="SSE Prescriptions">
        </picture>
      </a>
          <figcaption>
            SSE Prescriptions
          </figcaption>
    </figure>
</div>