<div class="flex justify-center">
    <figure class="gdoc-markdown__figure">
      <a class="gdoc-markdown__link--raw" href="/workflow/get-prescriptions/get-streaming-results/images/streaming-result.gif">
        <picture>
            <source srcset="/workflow/get-prescriptions/get-streaming-result/images/streaming-results.gif">
          <img src="/workflow/get-prescriptions/get-streaming-result/images/streaming-results.gif" alt="SSE Prescriptions">
        </picture>
      </a>
          <figcaption>
            SSE Prescriptions
          </figcaption>
    </figure>
</div>